body {
	padding: 0.5em;
	margin: 0em;

	background-image: url(bg-light.png);
}

h1 {
	font-size: 1em;
	background: black;
	color: white;

	padding: 15px;
	margin: 15px;

}

h1 .version {
	font-style: italic;
}



#myMap { 

	border: 10px solid white;
	margin: 15px;
	height: 300px; 
}