body {
	padding: 0.5em;
	margin: 0em;

	background-image: url(bg-light.png);
}

h1 {
	font-size: 1em;
	background: black;
	color: white;

	padding: 15px;
	margin: 15px;

}

h1 .version {
	font-style: italic;
}

#status, #infos {
	padding: 15px;
	margin: 15px;

	background: white; 

}

.win {
	color: green;
	font-weight: bold;
	font-size: 1.1em;
}

#myMap { 

	border: 10px solid white;
	margin: 15px;
	height: 300px; 
}